@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}